#default values general
pubmed_file_name=${pubmed_file_name:-pubmed18n}
pubmed_file_end=${pubmed_file_end:-.xml.gz}
dtd_file_name=${dtd_file_name:-pubmed_180101.dtd}

#default values update
update_url=${update_url:-ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/}
first_update_file_num=${first_update_file_num:-929}
journal_cache_url=${journal_cache_url:-ftp://ftp.ncbi.nih.gov/pubmed/jourcache.xml}
journal_cache_file_name=${journal_cache_file_name:-jourcache.xml}
download_cache=${download_cache:-false}

#default values baseline
baseline_url=${baseline_url:-ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/}
file_name_wildcard=${file_name_wildcard:-pubmed18n*.xml.gz}
timeout=${timeout:-60}
tries=${tries:-3}
wait=${wait:-5}
down_path=${down_path:-./downloaded_data/}